.mat-button-toggle-group {
    width: 100%;
}
.mat-button-toggle {
    width: 100%;
    display: inline-flex;
    background: linear-gradient(204.41deg, #B7F392 26.44%, rgba(85, 235, 208, 0.87) 67.25%);
    height: 45px;
    
}
