<div class = "page-box"
 fxLayout  = "column" 
 fxLayoutAlign = "space-around start" >
    <div class = "title" >
        Take 
        Back 
        Tech 
    </div>
    <div class = "description">
        Network with peers, <br>
        connect with clubs, <br>
        find a mentor, & more.
    </div>
    <div class = "signup">
        Sign up
        <div class = "arrow">
            <a href = "/signup">
            <img src="assets/arrow.png">
            </a>
        </div>
    </div>
</div>